[class*="col-"]{
    float: left;
}
html,body{
    height:100%;
    margin: 2px;
}
.container{
    border:.1vw solid black;
    width:100%;
    min-height: 99%;
    
}
*{
    box-sizing:border-box;
}
@media only screen and (min-width:768px)
{
.col-1 {width:8.33%;}
.col-2 {width:16.66%;}
.col-3 {width:25%;}
.col-4 {width:33.33%;}
.col-5 {width:41.66%;}
.col-6 {width:50%;}
.col-7 {width:58.33%;}
.col-8 {width:66.66%;}
.col-9 {width:75%;}
.col-10 {width:83.33%;}
.col-11 {width:91.66%;}
.col-12 {width:100%;}
}
.row::after{
    content:"";
    clear: both;
    display:table;
}
#headbold{
    font-weight: bolder;
    display: inline;
    padding-left: 15px;
    font-size: 5vw;
}
#headlight{
    display:inline;
    font-size :5vw;
}
.datsun{
    background-image:url("datsun.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:50vw;
    width: 100%;

}
.heading{
    color:red;
    text-transform: uppercase;
    font-size: 2vw;
    text-anchor: start;
    vertical-align: top;
    margin-top:0px;
    border-style: none;
    border-width: 0px;
}
.content{
    line-height:2vw;
    font-size:1.2vw;
}
#datsun{
    padding: 0px;
    margin:0px;
}
#rart{
    padding-left:15px;
    
}
#id{
    padding-left: 15px;
}